
body {
    font-family: devjefersonmellado;
}

.formulario  {
    width: fit-content;
    background: rebeccapurple;
    padding: 50px;
    border-radius: 20px;
    color: aliceblue;
}

.form-input {
    width: 90%;
    margin: 8px;
}

.form-submit {
    letter-spacing: 2px;
    text-transform: uppercase;
    background: darkred;
    color: aliceblue;
    width: 50%;
}

.box {
    background: lightgreen;
    height: 200px;
    width: 200px;
    margin: 20px
}

nav {
    background: lightsalmon;
    padding: 10px;
    text-align: center;
}

.nav-item {
    padding: 2px 4px;
    border: 2px solid aliceblue;
    border-radius: 5px;
    background: rebeccapurple;
    color: aliceblue;
    text-decoration: none;
}

.nav-item:hover {
    padding: 2px 4px;
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    background: aliceblue;
    color: rebeccapurple;
    text-decoration: none;
}

